@model IEnumerable<database1.Models.Product>

@{
    ViewData["Title"] = "Showdata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Showdata</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proname)
            </td>
            <td>
                    <img src="@Url.Content(item.Proimage)" width="200px" height="100px" />

                    @Html.DisplayFor(modelItem => item.Proimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Id)
            </td>
            <td>
                <a asp-action="Updatepro" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Deletedata" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
