@model IEnumerable<dashboard.Models.Product>

@{
    ViewData["Title"] = "mypro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    @*<title>Bootstrap Theme The Band</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@



    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - dashboard</title>
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

    <title>
        Giftos
    </title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />


</head>
<body>

    <br>   @*<div class="row">


        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:50px">
                <input type="hidden" value="@item.Id" />
                <p><strong>@item.Namee</strong></p><br>
                <img src="@Url.Content(item.Picture)" alt="Random Name" width="255" height="255">

                <p>@item.Price</p>

                <p>@item.Descp</p>
                @if (User.Identity.Name != null)
                {

                    if (item.Qty == 0)
                    {
                        <input type="button" value="Out of Stock" class="btn btn-default" />
                    }
                    else
                    {
                        <a asp-action="cart" asp-controller="User" asp-route-id="@item.Id" class="btn btn-danger">Add to Cart</a>
                    }
                }

                else
                {
                    <a asp-action="Detailuser" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-danger">Read More</a>

                }
            </div>

        }

        <div style="margin-top:20%;0">

            @{ var nn = @User.Identity.Name;}




            @nn
        </div>




    </div>*@


           <div class="row">

               @foreach (var item in Model)
               {
                   <section class="light">
                       <div class="container">
                           
                           <div class="cars">
                               <div class="car">
                                   <input type="hidden" value="@item.Id" />
                                   <p><strong>@item.Namee</strong></p><br>
                                   <img src="@Url.Content(item.Picture)" alt="Random Name" width="155" height="155">

                                   <p>@item.Price</p>

                                   <p>@item.Descp</p>
                                   @if (User.Identity.Name != null)
                                   {

                                       if (item.Qty == 0)
                                       {
                                           <input type="button" value="Out of Stock" class="btn btn-default" />

                                           
                                       }

                                       else
                                       {
                                           <a asp-action="cart" asp-controller="User" asp-route-id="@item.Id" class="btn btn-danger">Add to Cart</a>
                                       }
                                   }

                                   else
                                   {
                                       <a asp-action="Detailuser" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-danger">Read More</a>

                                   }
                               </div>


                           </div>
                       </div>
                   </section>
               }
           </div>

        <style>
          /*  *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            * {
                font: inherit;
                margin: 0;
            }*/

          

            img {
                max-width: 100%;
                display: block;
            }

            ul[role="list"] {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            section {
                padding-block: 2rem;
            }

            h2 {
                margin-block: 1em;
                font-size: 2em;
                font-weight: 700;
                color: #fff;
            }

            .container {
                width: min(100% - 2rem, 60rem);
                margin-inline: auto;
            }

            .cars {
                display: grid;
                gap: 2.5rem 1.5rem;
                grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
            }

            .car {
                display: grid;
                gap: 0.75em;
            }

            /*.img-wrapper {
                position: relative;
            }*/

            .car img {
                width: 100%;
                aspect-ratio: 16 / 10;
                object-fit: cover;
                border-radius: 0.25rem;
            }

            .img-wrapper::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgb(0, 0, 0, 0.7);
                opacity: 0;
                transition: opacity 250ms ease;
            }

            .img-wrapper:hover::before {
                opacity: 1;
            }

            .img-wrapper a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                border-radius: 0.25em;
                padding: 0.5em 1em;
                background-color: hsl(219, 30%, 12%, 0.8);
                color: #fff;
                font-size: 1.125em;
                font-weight: 500;
                text-decoration: none;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                opacity: 0;
                transition: opacity 250ms ease;
            }

            .img-wrapper:hover > a {
                opacity: 1;
            }

            .car h3 {
                font-size: 1.4em;
                font-weight: 700;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #fff;
            }

            .car ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
            }

            .car li {
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        </style>

    </body>
</html>






















  