@model IEnumerable<dashboard.Models.Product>

@{
    ViewData["Title"] = "product";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>product</h1>

<p>
    <a asp-action="addpro">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                

                <img src="@Url.Content(item.Picture)" width="100px" height="100px" />
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Namee)
            </td>
            <td>
                <a asp-action="proupdate" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-action="proDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
